################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ImobilizadosStone/ImobilizadosStone/bin
/ImobilizadosStone/ImobilizadosStone/obj
/ImobilizadosStone/ImobilizadosStone.Domain/bin
/ImobilizadosStone/ImobilizadosStone.Domain/obj
/ImobilizadosStone/ImobilizadosStone.Domain.Test/bin
/ImobilizadosStone/ImobilizadosStone.Domain.Test/obj
/ImobilizadosStone/ImobilizadosStone.Repository/bin
/ImobilizadosStone/ImobilizadosStone.Repository/obj
/ImobilizadosStone/Resources/bin
/ImobilizadosStone/Resources/obj
