################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ImobilizadosStone/ImobilizadosStone/bin/Debug/netcoreapp2.0
/ImobilizadosStone/ImobilizadosStone/obj/Debug/netcoreapp2.0
/ImobilizadosStone/ImobilizadosStone.Domain/bin/Debug/netstandard2.0
/ImobilizadosStone/ImobilizadosStone.Domain/obj
/ImobilizadosStone/ImobilizadosStone.Domain.Test/bin/Debug/netstandard2.0
/ImobilizadosStone/ImobilizadosStone.Domain.Test/obj
/ImobilizadosStone/ImobilizadosStone.Repository/bin/Debug/netstandard2.0
/ImobilizadosStone/ImobilizadosStone.Repository/obj
/ImobilizadosStone/Resources/bin/Debug/netstandard2.0
/ImobilizadosStone/Resources/obj
